.card {
  display: grid;
  grid-template-columns: 25px 90px 35px auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "del img name name"
    "del img format size";
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  padding: 10px;
  transition: background-color 0.3s;
}

.card:hover {
  background-color: rgb(67, 69, 72);
}

.card__name {
  grid-area: name;
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 14px;
}

.card__format {
  grid-area: format;
  font-size: 11px;
}

.card__size {
  grid-area: size;
  font-size: 11px;
}

.card__img {
  grid-area: img;
  justify-self: center;
  max-width: 90px;
  height: 50px;
  border-radius: 15px;
}

.card__delete {
  grid-area: del;
  box-sizing: border-box;
  width: 25px;
  max-height: 25px;
  background-color: transparent;
  background-image: url('../../images/delete.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card:has(.card__delete:hover) {
  background-color: rgb(150, 62, 62);
}